<div id="footer" style="text-align:center">
  <hr/>

  <div class="container-fluid">
    <ul class="nav justify-content-end ">

      <li class="nav-item home-icon">
        <a class="nav-link active" href="#"><fa name="facebook"></fa></a>
      </li>
      <li class="nav-item home-icon">
        <a class="nav-link active" href="#"><fa name="google"></fa></a>
      </li>
      <li class="nav-item home-icon">
        <a class="nav-link active" href="#"><fa name="linkedin"></fa></a>
      </li>
      <li class="nav-item home-icon">
        <a class="nav-link active" href="#"><fa name="twitter"></fa></a>
      </li>
      <li class="nav-item home-icon">
        <a class="nav-link active" href="#"><fa name="skype"></fa></a>
      </li>
      <li class="nav-item home-icon">
        <a class="nav-link active" href="#"><fa name="whatsapp"></fa></a>
      </li>
      <li class="nav-item home-icon">
        <a class="nav-link active" href="#"><fa name="slack"></fa></a>
      </li>
    </ul>
  </div>

</div>
