<div class="container-fluid">
  <ul class="nav justify-content-start ">
    <li class="nav-item home-icon">
      <a class="nav-link active" routerLink="/dashboard"><fa name="home" size="3x" animation=""></fa> <span> Dashboard </span></a>
    </li>

    <li class="nav-item">
      <a class="nav-link active" routerLink="/products">All Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" routerLink="/about">About Us</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/contact">Contact</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/portfolio">Portfolio</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/users">User Account</a>
    </li>

  </ul>
</div>
<hr/>
